body {
  background: linear-gradient(90deg, #071426, #0b1f3a);
}

/* fondo oscuro secciones */
.bg-dark {
  background: #0a1c33;
}

/* imagen principal */
.hero-img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 80px rgba(0, 153, 255, 0.3);
}

/* iconos sociales */
.social {
  width: 35px;
  height: 35px;
  background: #0a1c33;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

/* cards */
.card {
  background: #0a1c33;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
}